<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{layouts/main_layout :: head(title = 'TechNet - Account Profile Page')}"
  >
  </head>
  <body>
    <nav th:replace="~{layouts/main_layout :: nav}"></nav>

    <!-- profile -->
    <div id="profile" class="container">
      <div class="row">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Preferences</a>
          </li>
        </ul>
      </div>

        <!-- Right Side -->
        <div class="col-3 offset-1">
          <div class="row">
            <div class="card col-12">
              <img
                class="card-img-top"
                th:src="@{/images/profile_small.png}"
                alt="Card image cap"
              />
              <div class="card-body">
                <p class="card-text">
                  <a href="/u/therealdanvega">/u/therealdanvega</a>
                </p>
                <a href="../post/submit.html"
                  ><button
                    type="button"
                    class="btn btn-primary btn-lg btn-block"
                  >
                    New Post
                  </button></a
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card col-12">
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h5 class="card-title">Your Information</h5>
                <p class="card-text">
                  Posts: 10<br />
                  Comments: 3<br />
                  User Since: November 23, 2017<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- // row -->
    </div>
    <!-- // profile -->
  </body>
</html>
