<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'TechNet')}">
</head>
<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<main class="page login-page">
    <section
            class="clean-block clean-form dark"
            style="background-color: rgb(255,255,255);"
    >
        <div class="container">
            <div class="block-heading" style="padding-top: 40px;">
                <h2 class="text-info">Nuevo Equipo</h2>
                <p>
                  Ingrese los datos del nuebo equipo.<br />
                </p>
            </div>
            <form
                    method="POST"
                    th:action="@{/equipos/submit}"
                    th:object="${equipos}"
                    class="shadow"
            >
                <div class="form-group">
                    <label for="nameCompany">NOmbre de la Compañia</label
                    ><input
                        id="nameCompany"
                        class="form-control item"
                        type="text"
                        name="nameCompany"
                        placeholder="Nombre de la compañia"
                        required="required"
                        th:field="*{nameCompany}"
                />
                    <small th:errors="*{nameCompany}" style="color:red;"></small>
                </div>

                <div class="form-group">
                    <label for="marca">marca</label
                    ><textarea
                        id="marca"
                        class="form-control"
                        name="marca"
                        placeholder="Marca del equipo"
                        rows="3"
                        required="required"
                        th:field="*{marca}"
                >
              </textarea>
                    <small th:errors="*{marca}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="serie">serie</label
                    ><textarea
                        id="serie"
                        class="form-control"
                        name="serie"
                        placeholder="Serie del equipo"
                        rows="3"
                        required="required"
                        th:field="*{serie}"
                >
              </textarea>
                    <small th:errors="*{serie}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="detalles">detalles mecanicos</label
                    ><textarea
                        id="detalles"
                        class="form-control"
                        name="detalles"
                        placeholder="detalles del equipo"
                        rows="3"
                        required="required"
                        th:field="*{detalles}"
                >
              </textarea>
                    <small th:errors="*{detalles}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="horometro">horometro</label
                    ><textarea
                        id="horometro"
                        class="form-control"
                        name="horometro"
                        placeholder="horometro"
                        rows="3"
                        required="required"
                        th:field="*{horometro}"
                >
              </textarea>
                    <small th:errors="*{horometro}" style="color:red;"></small>
                </div>
                <div class="form-group">
                    <label for="estado">estado</label
                    ><textarea
                        id="estado"
                        class="form-control"
                        name="estado"
                        placeholder="Estado"
                        rows="3"
                        required="required"
                        th:field="*{estado}"
                >
              </textarea>
                    <small th:errors="*{estado}" style="color:red;"></small>
                </div>

                <button class="btn btn-primary btn-block" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </section>
</main>

</body>
</html>